<label *ngIf="!textLoaded">Loading...</label>

<div class="row m-0 border-top border-dark border-2 h-100"
     *ngIf="textLoaded"
>
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="row w-100 justify-content-center">
            <div class="col-8">
                <div class="row">
                    <app-main-count-down
                            (selectedDifficultyLevelChanged)="selectedDifficultyLevel = $event;fetchText(selectedDifficultyLevel);speedCalculator.reset()"
                            (selectedTimingChanged)="selectedTiming=$event; speedCalculator.selectedTiming=$event"
                            (timerEnded)="speedCalculator.calculateSpeed(); showTypingSpeed = true; restartBackgroundUpdateSubscription()"
                            #timer
                    ></app-main-count-down>
                    <!--                    <button (click)="fetchText('medium'); resetTest()">Refresh data</button>-->
                    <div class="col-11 px-3 first-row" *ngIf="textLoaded"
                    >
                        <!--                              data-widthi="{{'100px'}}" data-heighti="{{'50px'}}"-->
<!--                              [class.highlighted-word]="index === highlightedWord"-->
                        <span *ngFor="let index of indexArray"
                              [class.wrong-word]="wrongWords.has(index)"
                              class="font-normal mr-2 px-1 actual-word position-relative z-2">{{firstRowOfWords[index]}}
                            </span>
                        <span #backgroundDiv id="background-div">
                        </span>

                    </div>
                    <div class="col-11 px-3 second-row" *ngIf="textLoaded">
                        <span *ngFor="let word of secondRowOfWords" class="font-normal mr-2">{{word}}</span>
                    </div>
                    <div class="col-12 d-flex justify-content-center flex-column">
                        <textarea [readOnly]="showTypingSpeed" [(ngModel)]="textAreaContent" id="text-area"
                                  class="w-100 h-50 border-1 font-normal"
                                  rows="2"
                                  (focus)="handleFocus()"
                                  (click)="handleClick()"
                                  (input)="updateHighlightedIndex();onTextareaChange($event); timer.timerStarted?'':timer.initializeTimer(); showTypingSpeed=false"
                                  #textAreaElement
                        ></textarea>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" class="d-inline-block  b-1px-black"
                                (click)=" textAreaElement.focus(); resetTest(); restartBackgroundUpdateSubscription(); timer.reset(); speedCalculator.reset()">
                            Restart test (tab+enter)
                        </button>
                    </div>
                    <div>

                        <app-main-calculate-typing-speed
                                [selectedDifficultyLevel]="selectedDifficultyLevel"
                                [displayTextArray]="displayTextArray"
                                [selectedTiming]="selectedTiming"
                                [userInputText]="textAreaContent.split(' ')"
                                [showTypingSpeed]="showTypingSpeed"
                                #speedCalculator
                        ></app-main-calculate-typing-speed>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
