<label *ngIf="!textLoaded">Loading...</label>

<div class="row m-0 border-top border-dark border-2 h-100"
     *ngIf="textLoaded"
>
    <div class="col-12 d-flex justify-content-center align-items-center">
        <div class="row w-100 justify-content-center">
            <div class="col-8">
                <div class="row">
                    <app-main-count-down
                            (selectedTimingChanged)="print('selected Timing Changed');
                             selectedTiming=$event; speedCalculator.selectedTiming=$event"
                            (timerEnded)="speedCalculator.calculateSpeed(); showTypingSpeed = true;"
                            #timer
                    ></app-main-count-down>
                    <div class="col-11 px-3" *ngIf="textLoaded">
                        <span *ngFor="let index of indexArray"
                              [class.wrong-word]="wrongWords.has(index)"
                              [class.highlighted-word]="index === highlightedWord"
                              class="font-normal mr-2">{{firstRowOfWords[index]}}</span>
                    </div>
                    <div class="col-11 px-3" *ngIf="textLoaded">
                        <span *ngFor="let word of secondRowOfWords" class="font-normal mr-2">{{word}}</span>
                    </div>
                    <div class="col-12 d-flex justify-content-center flex-column">
                        <textarea [readOnly]="showTypingSpeed" [(ngModel)]="textAreaContent" id="text-area"
                                  class="w-100 h-50 border-1 font-normal"
                                  rows="2"
                                  (focus)="handleFocus()"
                                  (click)="handleClick()"
                                  (input)="updateHighlightedIndex();onTextareaChange($event); timer.timerStarted?'':timer.initializeTimer(); showTypingSpeed=false"
                                  #textAreaElement
                        ></textarea>
                    </div>

                    <div class="col-12 d-flex justify-content-center">
                        <button type="button" class="d-inline-block  b-1px-black"
                                (click)=" textAreaElement.focus(); resetTest(); timer.reset(); speedCalculator.reset()">
                            Restart test (tab+enter)
                        </button>
                    </div>
                    <div>

                        <app-main-calculate-typing-speed
                                [actualText]="actualText"
                                [selectedTiming]="selectedTiming"
                                [userInputText]="textAreaContent.split(' ')"
                                [showTypingSpeed]="showTypingSpeed"
                                #speedCalculator
                        ></app-main-calculate-typing-speed>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
